[2018-06-13 22:15] sarneeh opened #11 "automatically bind the challenge to a custom element"
I'm curious if it's possible to handle this situation in `Reaptcha`: https://developers.google.com/recaptcha/docs/invisible#auto_render

I'll keep this issue to roam around with it a little bit in the free time. 💃

[2018-06-14 04:44] sarneeh opened #12 "reduce library size"
I've read articles about Rollup and how it creates smaller bundles than Webpack. I'd like to give it a try and check out what would be the differences comparing to the current approach.

[2018-06-14 12:48] microadam opened #14 "server side rendering support"
This assumes that `window` exists and so breaks when you try and render the component on the server side (to be later rehydrated on the client side). react-recpatcha doesn't have this issue (but does have others) so I was hoping to try and use this as an almost drop in replacement, but this is preventing that!

[2018-06-14 13:05] sarneeh commented on #14
Thanks for the issue! Could you please give an example on how to crash it? Additionally, what's the error you're getting?

[2018-06-14 14:34] sarneeh commented on #14
@microadam Please check out `reaptcha@next` version and tell if it fixes your issue 🚀

[2018-06-20 13:38] mahyar33 opened #16 "Choose the language"
Hi
How can I choose the language in recaptcha??

[2018-06-21 10:06] sarneeh commented on #16
Hi! Reaptcha does not support this option for now because I didn't need it when using the library :) But I'll add it soon as right now I'm a little bit sick and can't do any dev stuff :(

[2018-06-21 22:49] mahyar33 opened #18 "missing required parameters: sitekey"
hi
I get this error

Uncaught Error: Missing required parameters: sitekey
    at new zr (recaptcha__en.js:392)
    at new es (recaptcha__en.js:400)
    at ss (recaptcha__en.js:411)
    at recaptcha__en.js:412
    at Array.forEach (<anonymous>)
    at ts (recaptcha__en.js:412)
    at bs (recaptcha__en.js:417)
    at cs (recaptcha__en.js:400)
    at recaptcha__en.js:419
    at recaptcha__en.js:429

[2018-06-22 04:37] sarneeh commented on #18
@mahyar33 Show me please your `Reaptcha` instance.

[2018-07-04 07:18] sarneeh opened #21 "run prettier on precommit"
Like in the title :) So there won't be any need to point code style mismatch in code reviews.

[2018-07-04 09:04] sarneeh commented on #16
Released in reaptcha@1.2.0

[2018-07-04 09:04] #16 closed

[2018-07-04 09:24] sarneeh opened #22 "no default classname"

[2018-07-04 09:33] #21 closed

[2018-07-04 09:35] #22 closed

[2018-07-07 06:00] richpowell commented on #14
looking forward to this.. but cant seem to load this branch via npm.. getting some errors

[2018-07-08 09:47] sarneeh commented on #14
@richpowell No it did not got into the release unfortunately. Could you please check out the reaptcha@1.2.0-beta.0 version?

[2018-07-13 15:53] cmwd commented on #18
@mahyar33 Check if you're adding recaptcha script manually. I had the same problem after switching from another library.
Removing
[code]
helped

[2018-07-14 01:16] stevenmunro opened #26 "cleaning up recaptcha instances"
I have this loading inside a component that may be reloaded as part of a multi-step form process.

Upon reloading, as expected, it reloads Googles Recaptcha, and what we see are multiple 'bframes'.

I'm not sure if this would eventually lead to a memory leak (in extreme cases) but is there a way to clean this up a bit if the Recaptcha was no longer needed?

[2018-07-14 06:13] sarneeh commented on #26
Hmm this seems like an oversight. I'll look at this issue next time sitting on this package, which will be nearest monday/tuesday 😄 Thank's for pointing this out!

[2018-07-14 06:15] sarneeh commented on #18
@cmwd That could be right! I'll keep this issue and will do something to make this more intuitive and less missleading. Thanks!

[2018-07-17 15:58] sarneeh opened #28 "resign from componentWillMount"
https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

[2018-07-17 16:12] sarneeh opened #29 "move class properties to component state"
Right now `Reaptcha` has its state in [class fields](https://github.com/tc39/proposal-class-fields). It would be more React-way if it would be hold in the component state.

[2018-07-22 22:49] #26 closed

[2018-07-22 22:49] #29 closed

[2018-07-22 22:50] sarneeh commented on #28
Fixed! Will be released in the new version.

[2018-07-22 22:50] #28 closed

[2018-07-22 22:57] sarneeh commented on #11
Unfortunately I don't have time in the nearest future to do anything with this so to make things clean and remove things that are unnecessary I'm closing it for now.

[2018-07-22 22:57] #11 closed

[2018-07-22 22:57] #14 closed

[2018-07-22 23:03] sarneeh commented on #14
Released in `reaptcha@1.3.0`

[2018-07-22 23:06] sarneeh commented on #26
Fixed in `reaptcha@1.3.0`.

[2018-07-23 07:47] stevenmunro commented on #26
nice work!

[2018-08-06 10:32] shahzadcacf commented on #14
where is documentation for SSR?

[2018-08-06 10:40] sarneeh commented on #14
@shahzadcacf And why would you need a documentation for SSR? You use it normally as everything else.

[2018-08-06 12:04] shahzadcacf commented on #14
Sorry i had a trouble in understanding how Google recaptcha works. i need to send g-recaptcha response to my API for validating.

[2018-08-06 13:14] shahzadcacf opened #37 "recaptcha api validation"
Need to validate the response from Recaptcha API.

[2018-08-07 20:23] greenkeeper[bot] opened #38 "An in-range update of styled-components is breaking the build 🚨"
## Version **3.4.2** of **styled-components** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Fdefault%2Fstyled-components-3.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gith

[2018-08-28 06:51] #38 closed

[2018-08-28 06:57] sarneeh opened #49 "improve docs"
- change required yes/no in API documentation table to emojis

[2018-08-28 06:57] sarneeh opened #50 "improve coverage"
- try to get to 100% coverage

[2018-08-30 19:23] impressivewebs opened #59 "Main website down?"
https://sarneeh.github.io/reaptcha/

Page doesn't seem to be working at the moment.

[2018-08-30 19:48] #59 closed

[2018-08-30 19:53] sarneeh commented on #59
@impressivewebs Fixed. Thanks for reporting it 😄

[2018-09-13 14:47] greenkeeper[bot] opened #63 "An in-range update of react-hot-loader is breaking the build 🚨"
## The devDependency [react-hot-loader](https://github.com/gaearon/react-hot-loader) was updated from `4.3.6` to `4.3.7`.

🚨 [View failing branch](https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Freact-hot-loader-4.3.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-hot-loader is a devDepe

[2018-10-25 12:00] #63 closed

[2018-10-26 04:55] sarneeh opened #75 "reduce library size"

[2018-10-26 05:02] #50 closed

[2018-10-26 05:33] #49 closed

[2018-10-26 19:59] sarneeh commented on #75
Duplicates #12.

[2018-10-26 19:59] #75 closed

[2018-10-26 20:31] sarneeh opened #79 "project cleanup"
- get rid of `class-properties` babel proposal
- update `lerna.json` according to current version
- separate `babel` configs
 - example: inline config in `webpack` config
 - ava: inline config in `package.json` (after resolution of [this issue](https://github.com/avajs/ava/issues/1968))

[2018-11-13 02:46] greenkeeper[bot] opened #90 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Fdefault%2Fmonorepo.react-16.6.2).

Thi

[2018-11-26 08:23] shahzadcacf opened #94 "unit testing"
So i have implemented the Reapcha successfully. was wondering how can i mock google reCaptcha? My testing tools are
Jest,Enzyme

[2018-11-28 10:21] alyrik opened #97 "uncaught (in promise) timeout"
Every time a component containing `<Reaptcha />` is unmounted I get (in 5–10 sec) that annoying error in `recaptcha__en.js:105`. Handlers `onError` and `onExpire` are not called. I tried to call `reset` and `_stopTimer` in `componentWillUnmount` but it didn't help.

I use invisible Recaptcha v2. Actually, when component with `<Reaptcha />` is mounted again after the error, Recaptcha works without

[2018-11-28 11:47] sarneeh commented on #97
I've played around a little bit with this error and can reproduce it. Unfortunately this is an error in Google's `recaptcha` script, which - for some reason - has the `reset` function delayed and expects the widget to still be available in the DOM (which isn't, because React cleans it up).

There's a workaround for this introduced in [react-google-recaptcha(https://github.com/dozoisch/react-google

[2018-11-28 12:13] sarneeh commented on #90
Closed in #98

[2018-11-28 12:13] #90 closed

[2018-11-29 04:46] shahzadcacf commented on #94
Thank you.

[2018-11-29 08:02] #94 closed

[2018-11-29 18:00] kradical commented on #37
I'll look into this over the next few days!

[2018-11-29 18:10] sarneeh commented on #37
@kradical It might be that this is already implemented but I didn't ever used it and didn't have time to look into this. Check if some of the present methods could expose the Recaptcha API response 😄

[2018-12-07 08:53] sarneeh commented on #37
@kradical Thanks for looking into the issue! I guess OP is asking about the Recaptcha response to be able to validate it on the server-side - but as I understand the [docs](https://developers.google.com/recaptcha/docs/verify) properly - this is already implemented into `reaptcha`. You get the Recaptcha response in the `onVerify` callback argument.

I would not want to add anything else into `reapt

[2018-12-07 17:47] kradical commented on #37
Makes sense, I think we can close this issue if that is the case. We could make a corresponding serverside package for this? But that might be overkill. I know in our use case we aren't using a library on our server and it isn't very much extra code or very complicated.

[2018-12-07 18:20] sarneeh commented on #37
@kradical Yes, I think this would be an overkill 😄 I'm closing it for now. Again, thanks for taking the time to look at this issue, even if it didn't end with any PR 😄

@shahzadcacf Please tell if this answers your problem.

[2018-12-07 18:20] #37 closed

[2018-12-17 10:38] kknaidumca opened #108 "onVerify callback is not getting called"
After successful reaptcha verification onverify callback is not getting called.

[2018-12-17 11:05] #108 closed

[2018-12-17 11:05] kknaidumca commented on #108
Resolved

[2018-12-26 11:59] shahzadcacf commented on #94
http://demo.dirbs.net/dvs/#/checkimei
So this is where i used reaptcha. After receiving response i enable the button and send API call. I am not able to mock the API call unless Google recaptcha response is received.

[2018-12-27 07:04] marcodamm opened #110 "reaptcha links and readme on npmjs.com"
The reaptcha presence at npmjs.com looks a little bit barren to me. There is no link to the github repo and no working Readme.

This initially raised some flags when I was looking for a suitable reCAPTCHA package, so you might want to consider to add some details to https://www.npmjs.com/package/reaptcha

[2018-12-27 11:56] sarneeh commented on #110
Oh, thanks @marcodamm for reminding me about that! I've actually forgot about this. Will add all necessary informations to `npmjs` next time I'll sit down to `reaptcha` (which means sometime in february - don't have time earlier).

[2018-12-27 11:59] sarneeh commented on #94
@shahzadcacf This is not enough information to know what's the real problem. Maybe show me your failing test.

[2019-01-11 07:37] #110 closed

[2019-01-15 05:31] warent commented on #18
FYI I just encountered this problem too on the latest version of Reaptcha and @cmwd's fix worked

[2019-01-15 07:02] sarneeh commented on #18
@warent I guess it's because of the URL. I'm checking only for the presence of:
https://github.com/sarneeh/reaptcha/blob/5d17fe2c15990d2b59904032f35b13ae0c54a936/lib/index.js#L38-L42
Have you been also injecting a script from `www.google.com` (not jus `google.com`)?

[2019-01-18 03:11] warent commented on #18
Yep, you got it: `https://www.google.com/recaptcha/api.js`

[2019-01-18 05:59] #18 closed

[2019-01-18 06:02] sarneeh commented on #18
@warent The issue has been fixed more comprehensively in `reaptcha@1.4.2`. Thanks for knowing about this! 😄

[2019-01-20 01:55] warent commented on #18
@sarneeh Thanks for your work!

[2019-01-24 07:34] danivijay opened #116 "how to receive the generated key"
I want the key that generated to be sent to the backend so that I can verify it. Where I can Receive the key?

[2019-01-29 10:05] Puspendert commented on #97
Hi @sarneeh
Any update here? I am facing the same.

[2019-01-29 14:56] sarneeh commented on #97
@Puspendert No update as I don't have time right now to implement any fix for that. This error is a false-positive so it's not too important. If you really find it annoying feel free to contribute 😉

[2019-02-01 01:35] lavellotron opened #117 "Support v3"
The repo description mentions v2 but isn't this compatible with v3 reCaptcha actually?

[2019-02-01 09:11] sarneeh commented on #117
@lavellotron Unfortunately not.

I did a little bit of research to answer your question and found that there are few differences in v2 and v3:
* v3 has a different render API (it needs a `render=SITE_KEY` query param in the external script load)
* v3 accepts a `action` parameter in the `execute` function
* v3 `execute` function returns a promise
* v3 does not render anything into the DOM (there's

[2019-02-02 16:33] pospichalales opened #118 "errors on unmount on edge 18"
When I am leaving the page with reCAPTCHA displayed, the following errors are logged to console.
Edge 18.

reacaptcha__cs.js
Unable to get property 'create' of undefined or null reference

anchor
'recaptcha' is not defined

SCRIPT5007: SCRIPT5007: Object expected

They do not have negative effect to reCAPTCHA function but are logged to bugsnag every time as they are related to my page.

[2019-02-03 09:21] pospichalales commented on #118
We probably need to remove Recaptcha scripts added to header when switching to different page (route)

[2019-02-03 10:20] sarneeh commented on #118
@pospichalales Are you manually adding ReCAPTCHA scripts to the DOM? If yes, you could use `Reaptcha` automatic script injection - it cleans it up on component unmount (so it would get removed on route change).

[2019-02-03 11:19] pospichalales commented on #118
I see if I go to page with Recaptcha in Chrome, then switch route and wait some time, this error is logged to console

![error](https://user-images.githubusercontent.com/47054776/52176050-d3ef1f80-27ad-11e9-8d53-44c81271d155.jpg)

[2019-02-03 20:18] pospichalales commented on #118
This is probably different error, you can look here how they solved it https://github.com/dozoisch/react-google-recaptcha/pull/120

[2019-02-03 21:13] sarneeh commented on #118
@pospichalales This error is already reported in #97 - let's keep it separate.

According to the error reported right here - I don't really know what can be the reason. I'll have to take a look why it's not being cleaned up on unmount. Unfortunately, I don't have time right now - I could look at it in 2-3 months. If it's very important for you, feel free to investigate and propose a PR :)

[2019-02-06 08:08] greenkeeper[bot] opened #123 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.7.0` to `16.8.0`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.7.0` to `16.8.0`.

🚨 [View failing branch](https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Fdefault%2Fmonorepo.react-2019020608024

[2019-02-06 16:17] greenkeeper[bot] opened #124 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.29.1` to `4.29.2`.

🚨 [View failing branch](https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Fdefault%2Fwebpack-4.29.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project.

[2019-02-14 16:59] enrichit commented on #108
For future googlers and investigators using the "invisible" size of captcha, try turning it off for a second, it's possible you've misconfigured it and the only way to see the error is to see the component, it doesn't appear in the console or anything.

For me it's because I was on localhost and google only allows 127.0.0.1 as a valid domain.

[2019-02-14 19:45] sarneeh commented on #108
@kknaidumca If you resolved your issue, share with others what was the issue and how did you solve it - it could help others also :)

@enrichit Thanks for sharing this! :)

[2019-02-14 19:47] sarneeh commented on #123
The build was breaking because of an `react-dom` issue referencing `document` in React test utilities. This has been fixed in 16.8.1.

[2019-02-14 19:47] #123 closed

[2019-02-14 19:47] sarneeh commented on #124
The build was breaking because of an `react-dom` issue referencing `document` in React test utilities. This has been fixed in 16.8.1.

[2019-02-14 19:47] #124 closed

[2019-02-23 05:39] fatclient commented on #18
I will be grateful for any help with this: got recaptcha on every page in footer (made by another library, so i do have <script /> in header with link to recaptcha api), and need some extra captchas of different type. This reaptcha throws "missing sitekey" error, when it provided and inject={false} is used. And of course, it doesn't call verify callBack .

[2019-02-23 08:27] sarneeh commented on #18
@fatclient Could you please show how do you use `Reaptcha`?

[2019-02-23 10:20] fatclient commented on #18
I've created a gist https://gist.github.com/fatclient/2dcdccc0c4e816f82698f768c76871ea

[2019-02-23 10:30] sarneeh commented on #18
@fatclient If you're using multiple recaptcha libs, how are you sure that `Reaptcha` is throwing the error? And are you sure that the `sitekey` is really being passed in (maybe it's undefined or something)? I'm curious because `Reaptcha` checks almost every possible case to just work properly and I'm almost certain that it's not the libs fault. Do you use multiple recaptcha libs on the same page,

[2019-02-23 10:38] fatclient commented on #18
Actually, now i'm not sure.  The error started to occur when i added your lib, but it's possible that it affects to another lib. I'll check that out.

![default](https://user-images.githubusercontent.com/30300478/53285273-79dceb00-37aa-11e9-9604-2b316e3c468f.png)

[2019-02-23 10:42] fatclient commented on #18
Should I try to replace other recaptcha react solution with yours? Can it handle with several recaptchas of different type at once without conflicts?

[2019-02-23 12:31] sarneeh commented on #18
@fatclient No problem mate, these kind of stuff happens to everyone :smile: Make sure that it's really problem with the wrong key, if not, come back and we'll try to figure out what's wrong!

[2019-02-28 20:27] tojacob opened #133 "add getResponse method"
I am using this module with Nextjs (ssr) and it is the only one that works well. Thanks for that!

I'm combining it with Formik, and I'm needing the `grecaptcha.getResponse()` method, because the `onVerify` callback does not fit my need.

Is there any technical reason why it is not implemented?

[2019-02-28 20:48] sarneeh commented on #133
@tojacob It is not implemented because you have the response already provided in the `onVerify` callback: `onVerify={(response) => {}}`. I don't see any reason why would you need the `getResponse` method?

[2019-02-28 21:16] tojacob commented on #133
My problem is the way in which Formik runs.

I am using the invisible version of recaptcha, I run it on the `validate` hook of Formik.

After `validate`, if there are no errors, the` handleSubmit` is immediately executed. I can not find a way to pass the captcha result to the `handleSubmit`, because the` handleSubmit` would have to wait until the user makes the captcha.

Anyway I'll keep looking f

[2019-02-28 21:53] tojacob commented on #133
Hello again. It is already solved.
Formik provides some very useful methods that can be used from the component.

Use some of them in the `onVerify` callback, as follows:

[code]

In the `handleSubmit` make the following validation before submitting the form:

[code]

This way you will continue with the submitting only when you receive the value of the recaptcha.
I leave it here in case some cluel

[2019-03-01 08:17] sarneeh commented on #133
@tojacob Thanks for the solution!

After giving it a thought I guess it would be a good idea to add a `getResponse` method to expose the full Recaptcha API. So I'll keep this issue to remember about it for later :smile:

[2019-03-03 21:47] sarneeh commented on #133
@tojacob I found even better option for your problem:
[code]

In this scenario you don't have to do the `if` statement in your `handleSubmit`. The `handleSubmit` will only run when the captcha verifies successfully.

[2019-03-06 07:20] id-kemo opened #136 "support invisible dark mode"
Hi @sarneeh, firstly I'd like to thank you for implementing reaptcha, it works great and is a true pleasure to use.

Not sure if it's an issue however, is there a reason why dark mode is not accessible when using Invisible variant of the ReCaptcha? Is it just an oversight?

https://github.com/sarneeh/reaptcha/blob/3ac319111e08fd0fc75e36d8275289fa78c5c2f6/lib/index.js#L144

Thanks,
Tom

[2019-03-06 08:41] sarneeh commented on #136
@id-kemo I'm happy you like it! :smile:

According to the dark mode... how does the invisible captcha behave in dark mode? Does the floating ReCAPTCHA indicator show in dark? If yes, that's surely an oversight :)

[2019-03-06 08:44] id-kemo commented on #136
@sarneeh yes it does - I have only tried simple change from `rc-anchor-light` to `rc-anchor-dark` and it works as expected.

[2019-03-06 22:24] tojacob commented on #133
@sarneeh I see that it is easier to understand. Thank you.

[2019-03-09 01:00] mckelveygreg opened #137 "Thank you!"
I just wanted to say thank you for this library! I'm doing a Gatsby site and was super stuck using react-recaptcha because it wouldn't reset correctly and would only work on a single page load.

I ended up finding you on another library's issue! https://github.com/appleboy/react-recaptcha/issues/228#issuecomment-397080544

However, I had a hard time finding you with just a search... I'm not sure h

[2019-03-10 12:20] sarneeh commented on #137
Hey @mckelveygreg! Thank you very much for these words, I'm very happy it helped you in your work! :smile: I don't care much about SEO and the overall discoverability (as I don't have much time to work on it) but thanks a lot for the tweet! Have a great day and if you'll have any issues with `reaptcha` don't hesitate to file an issue! :)

[2019-03-10 12:20] #137 closed

[2019-03-19 12:22] richardvanbergen commented on #108
@sarneeh Thanks for building this!

[2019-03-19 19:10] sarneeh commented on #108
@richardvanbergen You're welcome! :smile:

[2019-04-04 16:31] Undistraction opened #147 "Allow data attributes to be passed through to iframe"
Please allow arbitrary data attributes to be passed through to the iframe.

For example I use 'data-cy` to tag elements that I want to use in my Cypress tests. There is currently no way for me to tag the reaptcha iframe with an attribute.

[2019-04-04 16:50] sarneeh commented on #147
@Undistraction Hmm... Actually `Reaptcha` does not control the iframe as it is controlled by the Google reCAPTCHA script. I'd need to research a bit to find out how to grasp this issue.

[2019-04-04 17:28] Undistraction commented on #147
@sarneeth Actually, using a recaptcha in e2e tests is a terrible idea. Google actually supplies a set of keys for testing that means the recaptcha will always be satisfied. Means coming up with a means of getting keys to the component based on environment, but I think it is the only viable option.

[2019-04-04 17:28] #147 closed

[2019-04-04 19:18] sarneeh commented on #147
@Undistraction Good that you found the answer to your problem! :)

[2019-04-04 19:32] Undistraction commented on #147
@sarneeh Yes. And sorry for the noise.

[2019-04-22 12:07] sachinsawant71 opened #154 "Uncaught Error: Missing required parameters: sitekey"
I get this error when I refresh my page which has Reaptcha component. Here is my code snippet. I confirmed that sitekey is being passed correctly to the component when I refresh the page.

                    <Reaptcha style={{ margin: "20px" }}
                        ref={e => this.recaptchaInstance = e}
                        sitekey={process.env.REACT_APP_CAPTCHA_SITEKEY}

[2019-04-22 15:53] sarneeh commented on #154
@sachinsawant71 What happens when you pass `sitekey` explicitly? (not via `process.env.REACT_APP_CAPTCHA_SITEKEY}`)

[2019-04-24 02:23] sachinsawant71 commented on #154
I tried it too. I hardcoded the site key into the component property but I am still getting same error.

[2019-04-24 06:09] sarneeh commented on #154
@sachinsawant71 Do you have a `<script />` with Google reCAPTCHA in your site? If yes, delete it. `Reaptcha` injects the Google script by itself.

[2019-04-25 10:35] sachinsawant71 commented on #154
Thanks a lot. I had script for Google reCAPTCHA in the index.html. I removed it and it started working after "Refresh" too.

[2019-04-25 10:35] #154 closed

[2019-04-25 11:15] sarneeh commented on #154
Awesome! :)

[2019-04-30 13:24] araujocristian opened #156 "How do I remove the connection error alert?"
![image](https://user-images.githubusercontent.com/19674933/56964699-18325780-6b32-11e9-8bb1-6613748f27c4.png)

[2019-04-30 20:37] sarneeh commented on #156
@araujocristian AFAIK Google reCAPTCHA script doesn't allow to control this alert. `Reaptcha` is just a wrapper for the Google reCAPTCHA script and does not provide any additional API.

[2019-05-01 14:41] araujocristian commented on #156
Ah, ok! Thx!

[2019-05-01 14:41] #156 closed

[2019-05-25 08:15] sarneeh commented on #136
Published in `1.5.0`. Thank you @id-kemo!

[2019-05-25 08:15] #136 closed

[2019-06-17 21:42] gazcn007 opened #171 "add info about usage of Array.from in readme"
This component doesn't work with IE yet, it throws `SCRIPT438: Object doesn't support property or method 'from'` error.

Repro steps:
1. Open any IE browser, go to the demo page : https://sarneeh.github.io/reaptcha/
2. Page appears to be blank
3. Open the console it shows `Object doesn't support property or method 'from'`:
![image](https://user-images.githubusercontent.com/12766318/59638789-2520ff

[2019-06-18 06:24] sarneeh commented on #171
@gazcn007 Thank you for your report! Is this IE11? Apparently, this is due to `Array.from`.

https://github.com/sarneeh/reaptcha/blob/5be328601b8896cac296bd82f598844fe7e99725/lib/utils/isAnyScriptPresent.js#L3-L7

We would need to use some kind of polyfill for this. Unfortunately, I don't have time right now. I might come back to bugs/features for `reaptcha` somewhere in the next month.

[2019-06-18 07:11] gazcn007 commented on #171
Thanks for the fast reply! Ya for sure, no rush! Array.from is not supported on all IE browsers -> https://stackoverflow.com/questions/36810940/array-from-on-the-internet-explorer
So you can get a repro on any IE browser actually.

I will look into it to see if there is any quick fix for this meanwhile.

[2019-06-24 12:07] greenkeeper[bot] opened #173 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-r

[2019-06-28 20:26] ksocha opened #175 "Instance methods - better approach"
In the readme, it is stated: `If you have an idea how to do this better, feel free to file an issue to discuss it!`

It can be done easily with [render prop pattern](https://reactjs.org/docs/render-props.html).

Instead of doing:
[code]

We could do:
[code]

And then the component could be used like:
[code]

[2019-06-28 20:33] ksocha commented on #171
I think the readme should contain the information that `Array.from` must be polyfilled in order for package to work. Including a polyfill will increase size of the bundle and most of the people already use some kind of polyfill solutions in their projects.

[2019-06-28 20:39] sarneeh commented on #175
I love the idea! Wasn't familiar to render props at the time of building `reaptcha`. This could improve DX a little :smiley: Definitely gonna add this in `2.0`. Unfortunately, I'm still totally out of time, so this would need to wait for a little while.

[2019-06-28 20:42] sarneeh commented on #171
I agree with @ksocha that it should be handled by the users' side (use a polyfill). Not everyone wants to support IE and they would be forced to load additional KB of scripts. Let's add this info to readme.

[2019-06-28 20:54] sarneeh opened #176 "delete npm next tag"
It's not being used too much. Can be deleted.

[2019-06-28 21:10] ksocha commented on #175
I can prepare a PR with required changes (or most of them). This could be added as a part of version 1.x.x because it is a non-breaking change.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-28 22:24] gazcn007 commented on #171
yea ^ kk good that makes sense, we actually did a polyfill on our own, and it's all good.
Adding some notes to the README would be helpful!

[2019-06-29 08:34] sarneeh commented on #175
@ksocha I thought about removing the current way of using instance methods completely, but I guess we can keep both and just bump a minor version.

[2019-07-17 12:06] greenkeeper[bot] opened #179 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/sarneeh/reaptcha/compare/master...sarneeh:greenkeeper%2Fdefault%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project.

[2019-08-01 19:56] #175 closed

[2019-08-01 20:04] #173 closed

[2019-08-01 20:04] #179 closed

[2019-08-01 20:11] #176 closed

[2019-08-01 20:22] #116 closed

[2019-08-01 20:22] #171 closed

[2019-10-15 05:58] xeleoss opened #181 "Not working night theme"
`<Reaptcha theme="dark"> </Reaptcha>`

[2019-10-15 07:10] sarneeh commented on #181
You need to provide all the required props for the `Recaptcha` to work. Dark theme works fine, check https://sarneeh.github.io/reaptcha/

[2019-10-15 07:10] #181 closed

[2019-10-16 09:12] AndyOGo opened #182 "add onClose callback for invisible mode"
If **invisible** mode can't auto-detect a human, it asks for a challenge like checkbox, selecting images, etc.
The user can close this overlay by clicking outside, but there is no way to handle this close by the component nor the offical Google API.

But there are some hacky ways, to poll it's state:
https://stackoverflow.com/questions/43488605/detect-when-challenge-window-is-closed-for-google-rec

[2019-10-16 19:08] sarneeh commented on #182
Hey! I'm sorry but I don't think i want to add this kind of hacks into the library. `reaptcha` should just expose the `Recaptcha` API, nothing else. The problem you're mentioning can be solved without adding anything to `reaptcha`.

[2019-10-16 19:08] #182 closed

[2019-10-16 19:17] AndyOGo commented on #182
I thought that you wouldn't like.
I don't like it myself, though it's an annoying fact, that the recaptchad could ask the user for challenge like selecting images during invisible mode, which shows an overlay, which itself can be closed... but the API does not offer any callback, to be notified upon close 😞 🙍‍♂

[2019-10-17 07:14] sarneeh commented on #182
@AndyOGo It's best to move to Recaptcha V3, which does not introduce any UI elements, everything is based on data.

I appreciate the contribution! :)

[2019-10-17 07:43] AndyOGo commented on #182
@sarneeh
We evaluated V2 versus v3 for our use case, the main reason we can't/won't use v3 is that it would need to integrated into the whole user workflow.

Our product is a widget for integration in various apps at server outside of our control, that's why v3 isn't suitable for us.

Hehe, thank you. It's my pleasure, it's a joy to contribute to such clean projects! :)

[2019-10-17 08:16] sarneeh commented on #182
Oh, I didn't think about this kind of use case.

Thank you! 😄

[2019-10-17 08:20] AndyOGo commented on #182
No worries, we just completely removed `invisible` mode and won't run into this close problem 🤦‍♂

[2019-10-20 12:04] #133 closed

[2019-10-21 06:16] sarneeh opened #185 "add info about getResponse to docs"

[2019-10-23 20:28] shelldandy opened #186 "Add recaptcha script with deferred attr"
For performance and stuff (?) ideally as an optional prop

[2019-10-23 20:30] shelldandy commented on #186
lol nvm

[2019-10-23 20:30] #186 closed

[2019-10-24 06:47] sarneeh commented on #186
@shelldandy 😄

[2019-10-30 12:51] #185 closed

[2019-12-10 12:52] AndyOGo opened #189 "Can't update className prop"
I have a form, which should disable all fields during submission.
But I can't update `className` prop.

[code]

[2019-12-10 13:53] sarneeh commented on #189
But what specifically does not work? The class is not there in HTML?

[2019-12-10 14:43] AndyOGo commented on #189
Yes, the `className` DOM property or HTML class attribute is not updated.

[2019-12-10 15:31] sarneeh commented on #189
But where are you looking for the class? Because it is applied to the container where recaptcha sits, not the recaptcha itself. You can't apply a class to the recaptcha component.

[2019-12-10 15:39] AndyOGo commented on #189
I'm looking for it on the container.

If I understood the docs correctly, I assumed that I can dynamically change the `className`.

https://github.com/sarneeh/reaptcha#customisation

[2019-12-10 17:01] sarneeh commented on #189
@AndyOGo It works without a problem on my side.

![image](https://user-images.githubusercontent.com/11553624/70551077-22600e00-1b77-11ea-934a-e1d4e30f2343.png)

[2019-12-10 17:31] AndyOGo commented on #189
@sarneeh
Yeah a static `className="static-class"` works for me too.
Though if I want to assign a dynamically gerated `className={fooOrBar ? 'foo' : 'bar'}`, that's is not working upon updates.

I will take the time to provide a reproduction.

[2019-12-10 17:44] AndyOGo commented on #189
@sarneeh
Here you go:
https://codesandbox.io/s/practical-taussig-7jn7f?fontsize=14&hidenavigation=1&theme=dark

[2019-12-10 19:00] sarneeh commented on #189
@AndyOGo Ohh... I'm sorry! I know where the problem is.

[2019-12-28 18:48] #189 closed

[2019-12-28 18:49] sarneeh commented on #189
Released in `1.7.2`.

[2020-01-03 17:35] robinalexandre opened #193 "Change lang and theme dynamically"
Hello there,

First, thanks for the library !

I have a question about `hl` and `theme` props:
The user of my app can change the theme or the lang of the app dynamically so I would like the reCaptcha to change according to his choice.
But when I receive the props (let's say about the lang, it's the same process) in my component, and call `recaptchaRef.reset()`, the reCaptcha lang is still the same

[2020-01-30 08:12] armspkt opened #194 "Can't access state when use it with hooks component"
[code]

Email does not update state to the latest.
when I set email state to 'xxx' (setEmail('xxx'))

but outside onVerify function can access email state
console.log(email) // 'xxx'

Can I use reapctcha with hook component?

[2020-02-27 11:04] AndyOGo opened #195 "TypeError: this.captchaRef.getResponse is not a function"
Is `getResponse` really released in `reaptcha@1.7.2`?
Cause if I wanna use it, I get:

[code]

https://unpkg.com/reaptcha@1.7.2/dist/index.js

[2020-02-27 11:09] AndyOGo commented on #195
Sorry never mind, Webpack didn't get the update somehow.

[2020-02-27 11:09] #195 closed

[2020-02-27 11:34] sarneeh commented on #195
😄

[2020-04-28 19:56] danieldcm commented on #154
Confirmed. I had same issue after struggling to get recaptcha to work on my own, but finally  switching to use Reaptcha.  Thanks to google for redirecting me to this issue and for the quick resolution :).

[2020-06-22 10:31] lakshmiprabhat opened #200 "ng-recaptcha siteKey issue in angular"
Hi,
Iam getting "Missing required parameters: sitekey" error when i try to load Google recaptcha V2.
Am passing siteKey value from a service response in typescript.. Please help me resolve this issue.
My HTML Code,
<re-captcha (resolved)="resolved($event)" [siteKey] = "siteKeyVal" formControlName="recaptchareactive"></re-captcha>

Typescript code:
this.authService.getpropertyvalue('RECAPTCHA_PUBLI

[2020-06-23 03:58] lakshmiprabhat commented on #200
Hi,
this issue got resolved after i used a Resolverservice..thanks .

[2020-06-23 03:58] #200 closed

[2020-06-25 06:22] sarneeh commented on #200
Hey! But... This has nothing to do with this library, I'm confused 😅 Good that you've resolved it!

[2020-07-06 09:18] Bartuz commented on #94
I'm late to the party but struggled with it a bit.

Here is what I came up with https://gist.github.com/Bartuz/baa4cb3cff45286a519acc5ad0313bd7

happily tested my component that way :)

[2020-07-08 05:34] sarneeh commented on #94
@Bartuz Exactly what I was talking about! You just need to mock `window.recaptcha` and you're ready to go 😄

[2020-07-08 05:40] sarneeh commented on #193
Hi! Unfortunately, it's a bug in the library. Will try to fix that in the nearest future.

[2020-07-08 05:44] Bartuz commented on #94
@sarneeh between`just` and `mock` there was an hour or so inverstigraging which parts of `window.grecaptcha` shall I mock to cause Reaptcha component to fire specific events. Definitely not just "just" :D Thanks anyway <3

[2020-08-01 18:20] MrComic commented on #117
any chance to add the action name feature? that will help us to analyze the verification requests better on v3.

[2020-08-03 07:03] sarneeh commented on #117
@MrComic When I'll find time to implement this, I'll try to support every feature from v3.

[2020-08-13 19:46] engmsilva commented on #193
I will follow up on this subject, as I also need to change the theme or the language dynamically.

[2020-08-25 19:10] estebandee opened #202 "SameSite cookie error when using recaptcha through reaptcha"
Using reaptcha to display Google's Recaptcha, you can see the following error in the console:

```A cookie associated with a cross-site resource at https://google.com/ was set without the `SameSite` attribute. It has been blocked, as Chrome now only delivers cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Applicati

[2020-08-26 11:03] sarneeh commented on #202
This is 99,9% not fault of `reaptcha` - it's just injecting Google's code snippet and nothing else in terms of communication with Google. Have you tried clearing your cookies and trying again?

[2020-08-26 12:57] estebandee commented on #202
Seems that the old cookies were stored alongside the new ones... clearing them did solve the issue. Thanks!

[2020-08-26 12:57] #202 closed

[2020-09-12 13:39] stfenjobs commented on #194
me too , i have to use  https://github.com/dozoisch/react-google-recaptcha

[2020-11-18 08:59] ahmetemrebasakcioglu opened #205 "samesite and secure attributes on cookies"
After a while google chrome gives a warning: "SameSite" attribute must be either lax,none etc. also "Secure" attribute must be sent by cookie.
Anyone get these warnings?

[2021-01-28 09:22] dizefurkan commented on #194
Same issue.
I change my Functional Component to Class Component because of this hooks state problem.
Now it's working.

By the way, i used before react-google-recaptcha on our multiple route. like login/register/forget-password.
Problem that library: When route change, (on componentUnmount) recaptcha not removed from dom. That's why i use that library. in appearance this library solve that issue :

[2021-06-01 14:08] jasonwilczak commented on #117
Hi there, curious if v3 support will be coming to this package?

[2021-06-03 09:54] sarneeh commented on #117
Yes, but I'm still out of time 🙈  I want to implement this and rewrite everything to TypeScript so I need to find a bigger time slot to do this. Certainly not in the nearest months, but it will be there this year for sure.

[2021-07-14 14:41] Undistraction commented on #97
@sarneeh useful thread on this on [SO](https://stackoverflow.com/questions/52390562/google-recaptcha-response-uncaught-in-promise-null).

First answer:

[2021-08-20 00:24] michael-freidgeim-webjet opened #218 "Logs from recaptcha__en.js: "Cannot read property 'style' of null"""
We are using  "reaptcha": "^1.5.0",
and see in logs (but not able to reproduce locally) intermittent messages
"Cannot read property 'style' of null"
 at Array.<anonymous> (https://www.gstatic.com/recaptcha/releases/ecapuzyywmdXQ5gJHS3JQiXe/recaptcha__en.js:11:478)
Release part of url  and particular positions can be different.

The issue is similar to reported at  [ dozoisch/react-google-recaptcha

[2021-08-22 14:23] arya-s commented on #194
I'm not sure why you'd want to read out state in `onVerify`. All you need to do is to switch a flag that represents being verified.

e.g.
[code]

[2021-08-23 19:20] leopucci opened #219 "React 17 bump update"
New versions on react 17 are not being able to use this code.

[code]

[2021-08-23 19:25] leopucci commented on #219
Hi @sarneeh
Please check it ok pull request to allow REACT 17 versions.
https://github.com/sarneeh/reaptcha/pull/220

[2021-09-03 09:20] sarneeh commented on #205
Are you sure this is caused by this package and not any of your API calls?

[2021-09-03 09:23] sarneeh commented on #218
Without any steps to reproduce this issue I can't really do anything about this. Can you provide an example or steps to reproduce this issue?

[2021-09-03 09:31] sarneeh commented on #219
Thanks! Released in 1.7.3.

[2021-09-03 09:31] #219 closed

[2021-09-03 13:09] leopucci commented on #219
Anytime 👍

[2021-09-04 07:14] cheesestringer commented on #194
The token needs to be submitted to your server to be verified.
See https://developers.google.com/recaptcha/docs/verify

[2021-09-09 12:34] YouZag commented on #218
The above referenced issue describes the steps very well just a few comments up.  I'm at a position where my app is also unusable due to this error. Unfortunately for my implementation the error breaks the login.  It only occurs for me when an invisible captcha requires picture identifying verification.

[2021-09-14 16:55] dharmendra-pegasusone opened #222 "Reset not working"
Hi,
i want to call reset when the captcha expires but it is not working.
but when i call reset on button click then it is working.
in my use case i have to go with 1 case how to achieve this. i am missing any thing?
on captcha expire i am calling this
const onCaptchaexpired = () => {

    recaptchaRef.current.reset();

  };

[2021-09-21 06:11] sarneeh commented on #222
It works in the example: https://github.com/sarneeh/reaptcha/blob/master/example/src/modules/example.js.
Please provide a reproduction repo, otherwise I cannot really help you.

[2022-01-02 12:31] deelobase opened #227 "Deploy your app for free 🚀"
Hey @sarneeh, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deel

[2022-02-10 13:57] PieterT2000 commented on #194
You can also use the callback form of setState to get current state in callback handlers.

[code]

[2022-03-02 02:50] jcsunran opened #236 "'Reaptcha' cannot be used as a JSX component."
'Reaptcha' cannot be used as a JSX component.
Its instance type 'Reaptcha' is not a valid JSX element.
Type 'Reaptcha' is missing the following properties from type 'ElementClass': context, setState, forceUpdate, props, refs

It works before. but today it throws this error.

[2022-03-02 12:46] suvankarsatpati1 commented on #236
Also getting same error
 TS2786:
 'Reaptcha' cannot be used as a JSX component.
  Its instance type 'Reaptcha' is not a valid JSX element.
  Type 'Reaptcha' is missing the following properties from type 'ElementClass': context, setState, forceUpdate, props, refs

   "version": "1.8.0"

[2022-03-02 18:31] sarneeh commented on #236
I must have break something in the latest bundle improvements. Please rollback to `1.7.3` for now, I'll update here when I fix this.

[2022-03-03 09:16] sarneeh commented on #236
@jcsunran @suvankarsatpati1 Could you create a reproduction repository? I cannot reproduce this issue.

[2022-03-03 09:54] sarneeh commented on #236
Oh, my bad. I just found out it's a typings issue. I'll try to solve it.

[2022-03-03 09:58] suvankarsatpati1 commented on #236
[code]

[2022-03-04 20:48] jonasmarco opened #237 "How to implement this with hooks?"
Does anyone have an implementation of lib with react hooks?

[2022-03-04 20:52] jonasmarco commented on #236
the same here, waiting for a solution...

[2022-03-05 11:19] sarneeh commented on #237
I don't understand. What do you want to do with hooks?

[2022-03-07 12:05] jonasmarco commented on #237
hi @sarneeh sorry for the delay.

if I try to implement reaptcha I have the following error

![Captura de tela de 2022-03-07 09-03-13 (1)](https://user-images.githubusercontent.com/19959770/157031339-93bb805f-09a2-4b03-b654-1b86d639bbd1.png)

[2022-03-07 20:34] sarneeh commented on #237
Yup this is related to #236, nothing to do with hooks 😄

[2022-03-10 11:45] sarneeh commented on #236
Fixed in `1.9.0`

[2022-03-10 11:45] #236 closed

[2022-03-10 11:51] sarneeh commented on #205
Closing as there's no response

[2022-03-10 11:51] #205 closed

[2022-03-16 11:53] sarneeh commented on #12
Done in #235

[2022-03-16 11:53] #12 closed

[2022-03-17 08:41] #193 closed

[2022-03-17 09:08] sarneeh commented on #193
Fixed in `1.10.0`

[2022-03-18 10:14] #97 closed

[2022-03-18 10:17] sarneeh commented on #118
After a bit of investigation, this looks like some incompatibility of the recaptcha script with that specific version of Edge. Certainly not a bug in this library.

[2022-03-18 10:17] #118 closed

[2022-03-18 10:42] pyon123 commented on #117
Hi @sarneeh
Thanks for writing this cool repo. Btw, would you like to let me know when this repo can support V3? it seems like the react-google-recaptcha doesn't provide a good api.

[2022-03-18 10:43] sarneeh commented on #117
@pyon123 I'll be working on it in the next few weeks

[2022-03-18 10:51] sarneeh commented on #218
Investigated this issue and I didn't found any other workaround than `setTimeout(() => recaptchaRef.current.reset(), 500)` which supresses the error with success (but adds unnecessary delay on reset).

Also, I don't want to put this workaround code into the library as this is a bug of Google Recaptcha script and that's where it should be fixed.

What I'd propose is to ignore this specific error in

[2022-03-18 10:51] #218 closed

[2022-03-18 10:56] pyon123 commented on #117
thank you @sarneeh

[2022-03-23 08:41] sarneeh commented on #222
After investigating this a little, I found out that there's something wrong with how Recaptcha processes the events and unfortunately, running a reset right after expire does not work. The only workaround I found is to do:

[code]

This is a bug in Google Recaptcha so I'm not willing to put workarounds like that into the library.

[2022-03-23 08:41] #222 closed

[2022-03-23 08:42] #194 closed

[2022-03-23 08:43] sarneeh commented on #194
It took a while but... fixed in `1.11.0` 😄

[2022-03-27 16:02] sarneeh opened #245 "recreate example project in tailwind"
It's actually not needed at all, but just wanted to do this for fun 😄

[2022-03-27 16:08] sarneeh opened #246 "automate releases"
- add the changeset github action to the push workflow to automate creating releases (with publishing, if possible)

[2022-03-27 16:09] sarneeh opened #247 "bring back automated github pages deployment of the example app"
Just like in the title.

[2022-04-06 10:38] soasada opened #248 "reaptcha does not support react 18"
Hi, when I try to install this package in a fresh project with react 18.0.0 it throws the following error:

`npm i reaptcha`

[code]

Do you have plans to support it?

[2022-04-08 08:14] DavideDA commented on #248
Same issue

[2022-04-28 06:58] #248 closed

[2022-04-28 06:59] sarneeh commented on #248
Fixed in `1.12.0`

[2022-06-10 19:22] weidonglian opened #254 "This recaptcha instance has been already rendered"
Hi @sarneeh
I really like this library that does solve problems existent in other libraries, especially regarding multiple instances and react-router.
This bug only exists in React >18, I have tried React 17 which works well.
Repeat: https://codesandbox.io/s/jovial-cookies-uclvr5?file=/src/App.js
Thanks for your attention.
WD

[2022-06-10 19:24] weidonglian commented on #254
Here is what I got about the rendering failure loop. To be honest, everything seems to be working well even the below error.
[code]

[2022-06-10 19:55] weidonglian commented on #254
Not sure what happened: The below ready's callback is triggered over and over again.
setState could use the `stateChange` instead of changing the state ready to true. It should not trigger if the state has become `ready`. This could also optimize the performance.

[code]

[2022-06-13 18:18] jgoz commented on #254
This issue manifests when `<Recaptcha>` is used inside of a `<StrictMode>` tree in React 18.

[2022-06-13 20:03] weidonglian commented on #254
Okay, did not realize that, in that way, it won't have any impact on a production build.

[2022-06-13 20:13] jgoz commented on #254
@weidonglian True, but IMO it should still be fixed. StrictMode is intended to reveal potential issues, especially with future React versions/rendering modes and I think it's highlighting a legitimate problem here around side effects.

[2022-06-26 19:57] sarneeh commented on #254
Fixed in `1.12.1`

[2022-06-26 19:59] sarneeh opened #256 "feat: migrate to another react testing library"
Enzyme seems dead. After https://github.com/sarneeh/reaptcha/pull/255 we needed to use an unofficial Enzyme adapter to support React 18. It would be nice to use a testing library that supports latest React by default.

[2022-07-31 10:14] steve-taylor commented on #254
@sarneeh It still happens in React 18 in strict mode. I'm using `1.12.1`. Also, I'm using Next.js. The error occurs when I perform a client-side navigation to a page that renders a reCAPTCHA after already having been on any page that rendered a reCAPTCHA. This isn't reproducible with strict mode disabled.

Stack trace:

[code]

[2022-08-01 06:26] sarneeh opened #258 "don't minify the published package"
https://github.com/sarneeh/reaptcha/pull/257#issuecomment-1200396862

[2022-08-03 13:30] jasan-s commented on #254
this issue still exists and should remain open

[2022-08-03 19:28] sarneeh commented on #254
@jasan-s No worries I know it still exists 😄

[2022-11-03 05:08] georgealexandruiancu commented on #254
Hi @sarneeh , any update on this one ? I'm facing same error on next.js

[2022-11-10 21:43] jakerobb commented on #117
Hi, is there an update on this? It's been a few weeks. ;)

[2022-11-13 06:59] sarneeh commented on #117
@jakerobb I don't have anything yet. No time or mood to work on it to be honest 😄